# Environnement virtuel et dépendances
venv/
node_modules/

# Fichiers de cache Python
__pycache__/
*.pyc

# Fichiers système et configuration
.Ds_Store
.env

# 🔴 AJOUTS POUR NETTOYER VOS DOSSIERS ROUGES
media/
staticfiles/
db.sqlite3